div{
    background-color: aquamarine;
    padding: 20px;
    border: 10px solid black;
    margin-bottom: 10px;
    box-shadow: 50px salmon;
}
h3{
    text-align: center;
    font-style: italic;
    
}
.first{
    text-decoration: double;
    background-color: rgb(192, 52, 99);
    border: 5px solid black;
    padding: 10px;

}
.second{
    text-decoration: double;
    background-color: rgb(192, 52, 99);
    border: 5px solid black;
    padding: 10px;

}
.third{
    text-decoration: double;
    background-color: rgb(192, 52, 99);
    border: 5px solid black;
    padding: 10px;

}
*{
    text-align: justify;
}
p{
    font-style: italic;
    font-size: medium;
}